:root {
    --ion-safe-area-top: 20px;
    --ion-safe-area-bottom: 22px;
}
.swiper-slide {
    display: block;
}

ion-slide {
    height: 100%;
    width: 100%;
    padding-bottom:30%;
}

ion-slide > h2 {
    margin-top: 2.8rem;
    //color: white;
}

ion-slide > p {
    //color: white;
}
ion-slide > img {
    max-height: 50%;
    max-width: 60%;
    margin: 36px 0;
}

ion-icon {
    font-size: 1200%;
   // color: white;
}