<ion-header translucent>
    <ion-toolbar text-center>
        <ion-title>Introduction</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen padding scroll-y="false">

    <ion-slides pager="false" [options]="slideOpts">
        <ion-slide>
            <img src="https://picsum.photos/600?random=1">
            <h2>Welcome to <b>Boxzy</b>!</h2>
            <p>The <b>ultimate</b> home inventory app! Boxzy is a dedicated tool for managing all your physical stuff!</p>
        </ion-slide>

        <ion-slide>
            <img src="https://picsum.photos/600?random=2" />
            <h2>Peace of Mind</h2>
            <p><b>Boxzy</b> comes in handy when it comes to calculating the amount of insurance you may need, as well as give you all the info you need when logging a claim!</p>
        </ion-slide>

        <ion-slide>
            <img src="https://picsum.photos/600?random=3" />
            <h2>Dreaming and Minimalism</h2>
            <p>By taking the step to take stock of all your stuff, you can start determining the value that your possessions add to your life!
                Why not tag some of the stuff you would like to upgrade one day with a "dream" tag?
            </p>
        </ion-slide>

        <ion-slide>
            <img src="https://picsum.photos/600?random=4" />
            <h2>Ready to get started?</h2>
            <ion-button fill="clear" routerLink="/home" routerDirection="forward">Continue <ion-icon slot="end" name="arrow-forward"></ion-icon>
            </ion-button>
        </ion-slide>
    </ion-slides>
</ion-content>