// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.

.banner {
    background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5) ), url("https://picsum.photos/400/300/?blur=2");
    
    background-size: cover;
    background-attachment: fixed;

    padding-top: 20%;
    padding-bottom: 20%;
    text-align: center;
}