<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="banner">
    <ion-text color="light">
      <h1>You have {{items.length}} Items</h1>
    </ion-text>
  </div>
  <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="setFilteredItems()"></ion-searchbar>
  <ion-grid no-padding>
    <ion-row class="pins">
      <ion-col *ngFor="let item of filteredItems" size="6" size-sm="6" size-md="4" size-lg="3" no-padding>
        <ion-card class="welcome-card pin" (click)="openDetailsWithState(item)">
          <!-- [routerDirection]="'root'" [routerLink]="['/item']"    -->
          <ion-img [src]="item.image"></ion-img>
          <ion-card-header>
            <ion-card-subtitle>{{item.name}}</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>